    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
     <header class="intro-header" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/assets/contact-bg2.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Say Hi!</h1>
                        <hr class="small">
                        <span class="subheading">Reach out to me if you have questions or suggestions!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading" style="color:lightgrey">Talk to me!</h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
            <form name="sentMessage" id="contactForm" novalidate action="http://formspree.io/gannasachakov@gmail.com" method="POST">
                        <div class="row">
                           
                            <div class="col-md-6 col-md-offset-3">
                                <div class="form-group">
                                      
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name." name="name">
                                    <p class="help-block text-danger"></p>
                                </div>
                           
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address." name="_replyto">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message." name="message" style="height:300px"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <input type="hidden" name="_next" value="http://anyamelnykblog.herokuapp.com/contact" />
                            <input type="hidden" name="_subject" value="Portfolio contact" />
                            <input type="text" name="_gotcha" style="display:none" />
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl" value="Send">Send Message</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <hr>

