<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <ul class="list-inline text-center">
                <% social_icons = {"github":  "https://github.com/slyka85/", "linkedin": "https://www.linkedin.com/in/anyamelnyk", "twitter": "https://twitter.com/AnyaMelnyk" } %>
          
                <% social_icons.each do |icon, link| %>
                <li>

                    <a href=<%=link%> target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-<%=icon%> fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
  
                </li>
                <% end %>

            </ul>
            <p class="copyright text-muted">Copyright &copy; Anya Melnyk 2015</p>
        </div>
    </div>
</div>
