
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 <%= link_to "GIRL ON RAILS", root_path, class: 'navbar-brand hvr-grow-rotate' %>
            </div>
 


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right underlined">

                <li class="hvr-underline-from-center"><%= link_to "BLOG", root_path %></li>
                <li class="hvr-underline-from-center"><%= link_to "ABOUT ME", 'http://slyka85.github.io/', :target => "_blank" %></li>
                <li class="hvr-underline-from-center"><%= link_to "STAY IN TOUCH", contact_path %></li>
 
                </ul>
            </div>
            <!-- /.navbar-collapse -->
 
        </div>
        <!-- /.container -->
    </nav>


