
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->

    <header class="intro-header" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/assets/girl-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 class="hvr-bounce-in">Girl On Rails</h1>
                        <hr class="small">
                            
                        <span class="subheading">Coding with <i class="fa fa-heart gps_ring" style="color: #EA80FC"></i> </span>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <% @posts.each do |post| %>
                <div class="post-preview">

                     <h2 class="post-title">
                    <%= link_to post.title, post_path(post, :title => post.title) %>
                </h2>
                <p  id="query" style="display:inline">
                    <%= truncate(post.content, 
                      length: 80, 
                      separator: ' ', 
                      omission: '... ') {     
                        link_to "Read more", post_path(post) 
                    } %> &nbsp;</p>

                    <p class="post-meta">Posted on <%= post.created_at.strftime("%A, %b %d") %></p>
                </div>
                    <hr>
                <% end %>

              
            
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>

                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

